*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-family: 'Playfair Display', serif;
}
/*global*/
.Pri-bg-col{
    background-color: #2487ce !important;
}

.pri-text-col{
    color: #2487ce !important;
}
.pri-btn-ol-col{
    border-color: #2487ce !important;
}

.sec-bg-col{
    background-color: #124265 !important;
}

.sec-text-col{
    color: #124265!important;
}
.sec-btn-ol-col{
    border-color: #124265 !important;
}
.ter-text-col{
    color: #1900e6 !important;
}



.navbar{
    font-family: 'Manrope', sans-serif !important;
}
.btn{
    transition: all ease-in-out 0.4s;
    font-family: 'Manrope', sans-serif !important;
}

.btn:hover{
   transform: scale(1.05);
   background-color: #124265 !important;
   cursor: pointer;
}

ul li a:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: #2487ce !important;
}

.sub-main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1e1e1e3b;
    height: auto;
    padding-bottom: 10px;
}
.about-img{
    margin-right: 20px;
    margin-top: 30px;
}
.about-text{
   
    font-size:50px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #1e1e1e;
    margin-right: 30px;
    margin-top: 50px;
}

.about-text p{
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Manrope', sans-serif;
    margin-top: 30px;
}
ul{
    font-weight: 300;
}

.z{
    z-index: 100;
}


/* SERVICE*/

.service{
    border-bottom:1px solid #1e1e1e3b;
    height: auto;
}

.sub-service h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
    margin-top: 20px;
    margin: 0;
    padding-top: 20px;
    font-family: 'Playfair Display', serif;
}
.service .boxes{
    display: flex;
    justify-content: center;
    align-items:center ;
    column-gap: 10px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
} 



.service .boxes h1{
    font-size: 25px;
    border-bottom: 1px solid #5e49fb;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
   
}

.service .boxes i{
    background-color: #fff;
    width: 40px;
    height: 30px;
    color: #1900e6;
}

.service .boxes .box1{
    height: 50vh;
    width: 350px;
    margin-bottom: 80px;
    border-radius: 10px;
    text-align: center;
    color: #1e1e1e;
    box-shadow: #fff 3px;
    transition: all ease-in-out 0.4s;
}
.service .boxes .box1:hover {
    transform: scale(1.08);
}


/*My project*/

.container{
    margin-top: 30px;

}
.project{
    border-bottom: 1px solid #1e1e1e3b;
    padding-bottom: 20px;
    height: auto;
}
.card-body p{
    font-family: 'Manrope', sans-serif !important;
}
.card-body .card- title{
    font-weight: 800;
    font-size: 14px;
}
/*Contact me*/
.contact{
    width: 100px;
    height: 50vh;
}
.contact-me{
    height: 100vh;
}

iframe{
    overflow-clip-margin: content-box !important;
   margin-left: 90px;
   
}
.ct h6{
    color: #1e1e1e;
    font-family: 'Manrope', sans-serif;
}

.ct p{
    color: grey;
    padding-top: 10px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.ct i{
  
   margin-top: 40px;
  
}
.last-sec{

    margin-left: 500px;
    margin-bottom: 150px;
}
#row{
   
    display: flex;
   
}


input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #1e1e1e80;
    padding: 20px;

   
}
.left-row{
    width: 50%;

   
}
.right-row{
    
    width: 50%;
   
}